.exit{
    position: fixed;
    top: var(--margin-big);
    font-size: 24px;
    background-color: #eeeeee; 
    width: 29px;
    text-align: center;
    /* left: calc(50% - 450px - 96px - 29px); */
    left: max(calc(50% - var(--container-width) / 2 - var(--margin-big) - 29px), 20px);
    z-index: 990;
    opacity: 0;
    transition: opacity 0s;
    pointer-events: none;
    line-height: 1.2;
    border-radius: var(--img-radius);
}

.exit.active{
    transition: opacity calc(0.6s * var(--comes-from-home)) ease-out calc(0.6s * var(--comes-from-home));
    pointer-events: all;
    opacity: 1;
}

.page-container{
    background-color: white;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: 10;
    min-height: 100vh;

    animation: fadeIn calc(0.6s * var(--comes-from-home)) ease-out 0s 1;
}

.next{
    text-align: right;
    margin-top: 5rem;
}

.next a{
    background-color: #eeeeee;  
    border-radius: var(--img-radius);
    padding: 0.5rem 1rem;
    font-weight: 500;
}
    
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.page-content{
    margin: calc(var(--container-width) / 2 + var(--margin-big) + 64px) auto 192px auto;
    padding: 0 var(--margin-big);
    max-width: 736px;

    /* animation: slideIn calc(1.2s * var(--comes-from-home)) ease-out 0s 1; */
    animation: slideIn 1.2s ease-out 0s 1;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    50% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media only screen and (max-width: 1024px) {
    .exit{
        left: var(--margin-big);
    }
    .exit.active{
        transition: opacity 0s;
    }
    .page-container{    
        animation: fadeIn 0s ease-out 0s 1;
    }
    .page-content{
        animation: slideIn 0s ease-out 0s 1;
    }
    .web-prototype{
        display: none;
    }

}

.squares{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin: 1rem 0 1rem 0;
}
  
.squares div{
    padding-top: 100%;
    background-size: cover;
    background-position: center center;
    border-radius: var(--img-radius);
}

.squares div.contain{
    background-size: contain;
    background-repeat: no-repeat;
}

.half{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
}

.quarter{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 1rem;
}

audio{
    width: 100%;
    margin: 0.5rem 0 1rem 0;
}


.page-content.about{
    margin: 96px auto 192px auto;
}

.about-grid{
    display: grid;
    grid-template-columns: 128px 1fr;
    grid-column-gap: 20px;
    grid-row-gap: .5rem;
}


/* .experiments-grid{
    margin-top: 5rem;
}
.experiments-grid div{
    display: inline-block;
    width: calc(50% - 3rem);
    border-top: 1px solid #eee;
    padding-bottom: 3rem;
}

.experiments-grid div:nth-of-type(1), .experiments-grid div:nth-of-type(2){
    border-top: none;
}

.experiments-grid div:nth-of-type(1) h3, .experiments-grid div:nth-of-type(2) h3{
    margin-top: 0;
}

.experiments-grid div:nth-of-type(2n + 1){
    float: left;
    padding-right: 3rem;
    border-right: 1px solid #eee;
}
.experiments-grid div:nth-of-type(2n){
    float: right;
    padding-left: calc(3rem - 1px);
}

.experiments-grid div:nth-last-of-type(2){
    padding-bottom: 0;
}

.experiments-grid div:nth-last-of-type(1){
    padding-bottom: 0;
}

.experiments-grid div p{
    margin-bottom: 1rem
}

.experiments-grid div span{
    font-size: 14px;
    color: #757575;
}




@media only screen and (max-width: 1024px) {
    .experiments-grid{
        margin-top: 5rem;
    }
    .experiments-grid div{
        width: 100%;
        padding: 0;
        
    }
    .experiments-grid div:nth-of-type(2){
        border-top: 1px solid #eee;
        
    }
    .experiments-grid div:nth-of-type(2) h3{
        margin-top: 3rem;
    }

    .experiments-grid div:nth-of-type(2n + 1){
        border-right: none;
        float: none;
        padding: 0 0 2rem 0;
    }
    .experiments-grid div:nth-of-type(2n){
        float: none;
        padding: 0 0 2rem 0;
    }
} */



.profile{
    background-size: cover;
    background-position: center center;
    opacity: 1 !important;
    width: 110px;
    height: 110px;
    border-radius: 100%;;
}

.about-grid div:nth-child(odd):not(.profile){
    opacity: 0.4;
    font-size: 15px;
}

.about-grid div:nth-child(even) span{
    font-size: 14px;
    display: block;
    margin: 0.2rem 0 1.75rem 0;
    /* opacity: 0.8; */
    color: #757575;
}

.light-grey{
    font-size: 14px;
    display: block;
    margin: 0 0 1.25rem 0;
    opacity: 0.4;
  }

iframe + .context{
    border-top: none;
}

.context{
    margin-bottom: 4rem;
    padding-top: 1rem;
    border-top: 1px solid #eee;
    font-size: 14px;
    color: #757575;
}

.quote{
    margin: 2rem 0 2rem 0;
    display: grid;
    grid-template-columns: 4rem 1fr;
    grid-column-gap: 1.5rem;
}

.quote .profile{
    width: 4rem;
    height: 4rem;
}

.quote div:nth-child(even){
    font-style: italic;
    font-size: 14px;
    display: block;
    /* margin-top: 0.2rem; */
    /* opacity: 0.8; */
    color: #757575;
}

.details{
    font-size: 14px;
    /* opacity: 0.8; */
    color: #757575;
}

@media only screen and (max-width: 600px) {
    .half{
        grid-template-columns: 1fr;
    }
    .third{
        grid-template-columns: 1fr; 
    }
    .squares, .quarter{
        grid-template-columns: 1fr 1fr;
      }
    .about-grid{
        grid-template-columns: 1fr;
        grid-row-gap: 0px;
    }
    .about-grid div:nth-child(odd):not(:first-of-type){
        margin-top: 1rem;
    }
    .profile{
        margin: 0 auto 1rem auto;
        width: 128px;
        height: 128px;
    }
    .about-grid .profile + div{
        text-align: center;
    }

}

